extends layout

block content
  h1 パスワードの変更
  p #{user.username} のパスワードを変更
  form(action='/admin/savepw.html', method='post')
    include csrf
    p
      input(type='hidden', name='username')&attributes({value: user.username})
    p
      label パスワード: 
      input(type='password', name='password')
    p
      input.ui-btn.ui-btn-inline(type='submit', data-ajax="false", value='保存')
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') ログアウト
