extends layout

block content
  h1 ユーザー削除完了
  p ユーザーの削除が完了しました。
  p
    a.ui-btn.ui-btn-inline(href='/admin/searchuser.html') ユーザー検索画面に戻る
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html', data-ajax='false') ログアウト
