extends layout

block content
  h1 ユーザーの編集
  form(id='editUserForm', action='/admin/edituser.html', method='post', autocomplete='off')
    fieldset
      include csrf
      p #{message}
      p
        input(type='hidden', id='deleteUser', name='deleteUser', value='false')
      p
        input(type='hidden', name='id', value=id)
      p
        div.ui-field-contain
          label(for='username-input') ユーザーID（編集不可）: 
          input(readonly id='username-input', type='text', name='username')&attributes({value: username})
      p
        div.ui-field-contain
          label(for='displayname-input') 表示用ユーザー名: 
          input(id='displayname-input', type='text', name='displayname')&attributes({value: displayname})
      p
        div.ui-field-contain
          label(for='admin-input') 管理者(ユーザーメンテナンス)権限を付与 
          input(id='admin-input', type='checkbox', name='admin')&attributes({checked: admin})
      p
        div.ui-field-contain
          input.ui-btn.ui-btn-inline(id='edituser-submit', name='edituser-submit',type='submit', value='保存')
      p
        div.ui-field-contain
          a.ui-btn.ui-corner-all.ui-icon-delete.ui-btn-icon-left(href='#popupdialog', data-transition='pop', data-rel='popup', data-position-to='window') 削除
  div(id='popupdialog', data-role='popup', data-overlay-theme='b', data-dismissible='false', data-history='false')
    div(data-role='header', data-theme='b')
      h1 削除の確認
    div.ui-content(role='main')
      p ユーザーを削除してよろしいですか？
      a.ui-btn.ui-corner-all.ui-btn-inline(href='#', data-rel='back', id='deleteuserOk') はい
      a.ui-btn.ui-corner-all.ui-btn-inline(href='#', data-transition='flow', data-rel='back', id='deleteuserNg') いいえ
  p
    a.ui-btn.ui-btn-inline(href='/admin/searchuser.html') ユーザー検索画面に戻る
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') ログアウト
  script.
    $(function(){
      $('#deleteuserOk').on('click', function(){
        $('#deleteUser').val('true');
        var target = document.getElementById("editUserForm");
        target.method = "post";
        target.submit();
      });
    })
