extends layout

block content
  h1 ユーザー編集
  p ユーザーを編集しました。
  p
    a.ui-btn.ui-btn-inline(href='/admin/searchuser.html') ユーザー編集画面に戻る
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') ログアウト
