extends layout

block content
  h1 ナレッジ編集
  p ナレッジ # #{id}
  form(action='/admin/editconfirm.html', method='post')
    include csrf
    p
      input(type='hidden', name='id', value=id) 
    p
      label タイトル: 
      input(name='ktitle', type='text')&attributes({value: title})
    p
      label 内容: 
      textarea(name='content') #{content}
    p
      input.ui-btn.ui-btn-inline(type='submit', data-ajax="false", value='保存')
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html', data-ajax='false') ログアウト
