extends layout

block content
  h1 ユーザーの編集
  form(id='editUserForm', action='/admin/createuser.html', method='post', autocomplete='off')
    include csrf
    p #{message}
    p
      input(type='hidden', id='editPassword', value='false') 
    p
      input(type='hidden', id='deleteUser', value='false') 
    p
      input(type='hidden', id='id')&attributes({value: id})
    p
      div.ui-field-contain
        label(for='username-input') ユーザーID（編集不可）: 
        input(readonly id='username-input', type='text', name='username')&attributes({value: username})
    p
      div.ui-field-contain
        label(for='displayname-input') 表示用ユーザー名: 
        input(id='displayname-input', type='text', name='displayname')&attributes({value: displayname})
    p
      div.ui-field-contain(id='editPasswordDisplayButton')
        button.ui-btn(type='button') パスワードを編集する
    p
      div.ui-field-contain(id='editPasswordField', style='display: none;')
        label(for='password-input') パスワード: 
        input(id='password-input', type='password', name='password', value='')
    p
      div.ui-field-contain
        label(for='admin-input') 管理者(ユーザーメンテナンス)権限を付与 
        input(id='admin-input', type='checkbox', name='admin')&attributes({checked: admin})
    p
      div.ui-field-contain
        input.ui-btn.ui-btn-inline(id='edituser-submit', name='edituser-submit',type='submit', value='保存')
    p
      div.ui-field-contain
        ibutton.ui-btn(type='button', id='deleteuser-submit', name='deleteuser-submit') 削除

  p パスワード・ポリシー
    ul
      li 8文字以上100文字まで
      li 英大文字と英小文字を含む
      li 数字を含む
      li シンボルを含む
      li 空白を含まない
  p
    a.ui-btn.ui-btn-inline(href='/admin/searchuser.html') ユーザー検索画面に戻る
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') ログアウト
  script.
    $(function(){
      $('#editPasswordDisplayButton').on('click', function() {
        $('#editPasswordDisplayButton').hide();
        $('#editPasswordField').show();
        $('#editPassword').val('true');
      });
      $('#deleteuser-submit').on('click', function(){
        // TODO: dialog
        //

        $('#editUserForm').submit();
      });
    })
