extends layout

block content
  h1 エラー
  p ユーザーが見つかりませんでした。
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html', data-ajax='false') ログアウト
