extends layout

block content
  p
  p Welcome to myllefeuille, a tiny knowledge management system
  p
    h2 検索
  form(action='/search.html', method='get')
    fieldset(class='ui-grid-a')
      div(class='ui-block-a', style='width:60%')
        input(autofocus, id='searchinput', type='search', name='searchstring', size='30', maxlength='255', style='height: 44px' )
      div(class='ui-block-b', style='width:40%')
        input.ui-btn(type='submit', value='検索', data-inline='true', data-icon='search')

  p
    h2 新着情報
  if Object.keys(docs).length == 0
    p 該当するナレッジがありません。
  else
    ul.listView(data-role='listview')
      each doc in docs
        li
          a(href=`${doc.id}.html`)
            h3 #{doc.title}
            script.
              document.write("<p style='font-size: 0.8em;'>" + new Date(Date.parse("#{doc.timestamp}")).toLocaleString() + "</p>")
            p(style='font-size: 0.8em;') #{doc.author}
  p
    a.ui-btn.ui-icon-carat-d.ui-btn-icon-bottom.more(href='#', style='display: none') もっと表示
  p
    h2 メニュー
  a.ui-btn.ui-btn-inline.ui-icon-home.ui-btn-icon-left(href='/') リロード
  a.ui-btn.ui-btn-inline.ui-icon-lock.ui-btn-icon-left(href='/login.html') ログイン
  script.
    $(document).bind('pageshow', function() {
      $('#searchinput').focus();
    });

    var url = '/newAjax.json';
    var skipcount = 5;
    var resps = {};
    executeAjax(url, skipcount, handleMoreButton);

    $('.more').click(function(){
      renderNextList(resps);
    });

    function executeAjax(url, skipcount, callback){
      jQuery(function($){
        $.ajax({
          url : url,
          type : 'GET',
          dataType : 'json',
          contentType : 'json',
          data : {skip: skipcount},
          cache : false,
          error : function(XMLHttpRequest, textStatus, errorThrown) {
            console.log("failed ajax");
          },
          success : function(response) {
            resps = JSON.parse(response);
            console.log("succeeded ajax");
            console.log(resps[0]);
            callback(resps);
          }
        });
      });
    }

    function handleMoreButton(responses){
      if (responses.length > 0){
        $('.more').show();
      } else {
        $('.more').hide();
      }
    }

    function renderNextList(resps){
      if (resps.length > 0){
        resps.forEach(resp => {
          $('.listView').append(
            '<li><a href="' + resp.id + '.html">'
            + '<h3>' + resp.title + '</h3>'
            + '<p style="font-size: 0.8em;">' + new Date(Date.parse(resp.timestamp)).toLocaleString() + '</p>'
            + '<p style="font-size: 0.8em;">' + resp.author + '</p>'
            + '</a></li>');
        });
        $('.listView').listview("refresh");
      }
      if (resps.length < 5){
        $('.more').remove();
      } else {
          skipcount += 5;
          executeAjax(url, skipcount, handleMoreButton);
      }
    }
