extends layout

block content
  header.header
    img(src='/images/title.png', style='width: 160px')
  p
  .ui-corner-all(style='padding: 10px; margin-bottom: 10px; border: 0px solid #333333; background-color: #e0ffff;')
    p Welcome to #{title}
  a(href='/login.html') ログイン
  script.
    $(function() {$('a').button();});
