doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/themes/default/jquery.mobile-1.4.5.min.css')
    link(rel='stylesheet', href='/stylesheets/header.css')
    script(src="/javascripts/jquery.js")
    script(src="/javascripts/jquery.mobile-1.4.5.min.js")
  body
    div(data-role='header', data-theme="b")
      img(src='/images/title.png', width='320', height='62')
    div(style='margin: 2em')
      block content
