extends layout

block content
  if message != ''
    p #{message}

  form(action='/login.html', method='post')
    include csrf
    p
      div.ui-field-contain
        label(for='username-input') ユーザーID: 
        input(id='username-input', type='text', name='username')
    p
      div.ui-field-contain
        label(for='password-input') パスワード: 
        input(id='password-input', type='password', name='password')
    p
      div.ui-field-contain
        label(for='login-submit') 
        input.ui-btn.ui-btn-inline(id='login-submit', type='submit', value='ログイン', data-icon='lock')
    p
      a.ui-btn.ui-btn-inline.ui-icon-home.ui-btn-icon-left(href='/') トップページ

