extends layout

block content
  if message != ''
    p #{message}

  form(action='/login.html', method='post')
    include csrf
    p
      label ユーザーID: 
      input(type='text', name='username')
    p
      label パスワード: 
      input(type='password', name='password')
    p
      input.ui-btn.ui-btn-inline(type='submit', value='ログイン')
    p
      a.ui-btn.ui-btn-inline(href='/', data-ajax="false") トップページ

