extends layout

block content
  if message != ''
    .ui-widget
      .ui-state-error.ui-corner-all(style='padding: 0.7em;')
        p
          span.ui-icon.ui-icon-alert(style='float: left; margin-right: .3em;')
          p #{message}

  form(action='/login.html', method='post')
    include csrf
    p
      label ユーザーID: 
      input(type='text', name='username')
    p
      label パスワード: 
      input(type='password', name='password')
    p
      input#button(type='submit', value='ログイン')
