extends layout

block content
  h1 ナレッジ作成
  form(action='/admin/makeconfirm.html', method='post')
    include csrf
    p
      label タイトル: 
      input(autofocus, name='ktitle', type='text')&attributes({value: title})
    p
      label 内容: 
      button.ui-btn.ui-btn-inline(type='button', id='h2button') &lt;h2&gt;
      button.ui-btn.ui-btn-inline(type='button', id='h3button') &lt;h3&gt;
      button.ui-btn.ui-btn-inline(type='button', id='bbutton') &lt;b&gt;
      button.ui-btn.ui-btn-inline(type='button', id='ibutton') &lt;i&gt;
      button.ui-btn.ui-btn-inline(type='button', id='ulbutton') &lt;ul&gt;
      button.ui-btn.ui-btn-inline(type='button', id='olbutton') &lt;ol&gt;
      a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline.ui-btn-a(href="#popupLink", data-rel="popup", data-transition="pop", data-position-to="window", id='abutton') Link
      a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline.ui-btn-a(href="#popupLink_img", data-rel="popup", data-transition="pop", data-position-to="window", id='abutton_img') img
      button.ui-btn.ui-btn-inline(type='button', id='codebutton') &lt;code&gt;
      button.ui-btn.ui-btn-inline(type='button', id='nobutton') no markup
      textarea(id='content', name='content') #{content}
    p
      input.ui-btn.ui-btn-inline(type='submit', value='保存')
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') ログアウト

  div.ui-corner-all(id="popupLink", data-role="popup", data-theme="a", data-dismissible="false")
    div(style="padding:10px 20px;")
      h3 入力してください
       label(for="str") 文字列:
       input(name="str", id="str", type="text", value="", data-theme="a")
       label(for="uri") URI:
       input(name="uri", id="uri", type='url', value="", data-theme="a")
       a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline(href="#", data-rel="back", id='ainsertbutton') 挿入
       a.ui-btn.ui-corner-all.ui-shadow.ui-btn-inline(href="#", data-rel="back") キャンセル
  div.ui-corner-all(id="popupLink_img", data-role="popup", data-theme="a")
    a.ui-btn-right(href="#", data-rel="back", data-role="button", data-theme="a", data-icon="delete", data-iconpos="notext") Close
    form(id="uploadimageform")
      div(style="padding:10px 20px;")
        h3 アップロードする画像ファイルを指定してください
        include csrf
        input(type="file", name="upfile", id="upfile")
        button(type="button", onclick="file_upload()") アップロード
  div(id="popupUploading", data-role="popup")
    p アップロード中...
  script.
    var uploadfilename = "";
    $('#h2button').click(function() {
      insertTextarea('## ', '');
    })
    $('#h3button').click(function() {
      insertTextarea('### ', '');
    })
    $('#bbutton').click(function() {
      insertTextarea('**', '**');
    })
    $('#ibutton').click(function() {
      insertTextarea('_', '_');
    })
    $('#ulbutton').click(function() {
      insertTextarea2('* ');
    })
    $('#olbutton').click(function() {
      insertTextarea2('1. ');
    })
    $('#abutton').click(function() {
      var textarea = document.querySelector('textarea');
      var pos_start = textarea.selectionStart;
      var pos_end = textarea.selectionEnd;
      var val = textarea.value;
      var range = val.slice(pos_start, pos_end);
      $('#str').val(range);
    })
    $('#ainsertbutton').click(function() {
      insertTextarea3('[' + $('#str').val() +'](' + $('#uri').val()  + ')');
    })
    $('#codebutton').click(function() {
      insertTextarea('~', '~');
    })
    $('#nobutton').click(function() {
      insertTextarea('{{{', '}}}');
    })
    function insertTextarea(before, after) {
      var textarea = document.querySelector('textarea');
      var pos_start = textarea.selectionStart;
      var pos_end = textarea.selectionEnd;
      var val = textarea.value;
      var range = val.slice(pos_start, pos_end);
      var beforeNode = val.slice(0, pos_start);
      var afterNode = val.slice(pos_end);
      var insertNode = before + range + after;
      textarea.value = beforeNode + insertNode + afterNode;
    }
    function insertTextarea2(pre) {
      var textarea = document.querySelector('textarea');
      var pos_start = textarea.selectionStart;
      var pos_end = textarea.selectionEnd;
      var val = textarea.value;
      var range = val.slice(pos_start, pos_end);
      var beforeNode = val.slice(0, pos_start);
      var afterNode = val.slice(pos_end);
      var insertNode = pre + replaceAll(range, '\n', '\n' + pre);
      textarea.value = beforeNode + insertNode + afterNode;
    }
    function replaceAll(str, before, after) {
      return str.split(before).join(after);
    };
    function insertTextarea3(update) {
      var textarea = document.querySelector('textarea');
      var pos_start = textarea.selectionStart;
      var pos_end = textarea.selectionEnd;
      var val = textarea.value;
      var range = val.slice(pos_start, pos_end);
      var beforeNode = val.slice(0, pos_start);
      var afterNode = val.slice(pos_end);
      textarea.value = beforeNode + update + afterNode;
    }
    function file_upload()
    {
      var tmparray = $('#upfile').val().split(/\\|\\/);
      uploadfilename = tmparray[tmparray.length - 1];
      $( "#popupLink_img" ).popup( "close" );
      $( "#popupUploading" ).popup( "open" );
      var formdata = new FormData($('#uploadimageform').get()[0]);
      $.ajax({
        url  : "/admin/uploadimage",
        type : "POST",
        data : formdata,
        cache       : false,
        contentType : false,
        processData : false,
        headers: { "X-CSRF-Token" : "!{csrfToken}" },
        dataType    : 'json'
      })
      .done(function(data, textStatus, jqXHR){
        $( "#popupUploading" ).popup( "close" );
        alert("アップロードが完了しました。");
        insertTextarea3('![](/img/' + uploadfilename  + ')');

      })
      .fail(function(jqXHR, textStatus, errorThrown){
        $( "#popupUploading" ).popup( "close" );
        alert("アップロードに失敗しました。");
      });
    }
