extends layout

block content
  h1 ナレッジ作成
  form(action='/admin/makeconfirm.html', method='post')
    include csrf
    p
      label タイトル: 
      input(name='ktitle', type='text')
    p
      label 内容: 
      textarea(name='content')
    p
      input.ui-btn.ui-btn-inline(type='submit', value='保存')
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') ログアウト
