extends layout

block content
  h1 メニュー
  p ようこそ, #{user.username}
  p
    a(href='/admin/make.html') ナレッジ作成
  if user.role === 'administrator'
    p
      a(href='/admin/approve.html') ナレッジ承認
    p
      a(href='/admin/users.html') ユーザーメンテナンス
  p
    a(href='/logout.html') ログアウト
  script.
    $(function() {$('a').button();});
