extends layout

block content
  h1 管理メニュー
  p ようこそ, #{user.displayname}
  p
    a.ui-btn.ui-btn-inline(href='/admin/make.html') ナレッジ作成
    a.ui-btn.ui-btn-inline(href='/admin/select.html') ナレッジ編集
  p
    a.ui-btn.ui-btn-inline(href='/admin/changepw.html') パスワード変更
  if user.role === 'administrator'
    p
      a.ui-btn.ui-btn-inline(href='/admin/createuser.html') ユーザー作成
      a.ui-btn.ui-btn-inline(href='/admin/searchuser.html') ユーザー編集
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') ログアウト
