extends layout

block content
  p
    h2 新着情報
  if Object.keys(docs).length == 0
    p 該当するナレッジがありません。
  else
    ul.listView(data-role='listview')
      each doc in docs
        li
          a(href=`${doc.id}.html`)
            div(style='font-size: 1.2em;') #{doc.title}
            div(style='font-size: 1.0em;') #{doc.content_summary}
            div(style='font-size: 0.8em;') #{doc.author}
  p.more
  a.ui-btn.ui-btn-inline(href='/new.html', data-ajax="false") リロード
  a.ui-btn.ui-btn-inline(href='/') トップページ
  script.
    var url = '/newAjax.json';
    var skipcount = 5;
    var resps = {};
    executeAjax(url, skipcount, handleMoreButton);

    function executeAjax(url, skipcount, callback){
      jQuery(function($){
        $.ajax({
          url : url,
          type : 'GET',
          dataType : 'json',
          contentType : 'json',
          data : {skip: skipcount},
          cache : false,
          error : function(XMLHttpRequest, textStatus, errorThrown) {
            console.log("failed ajax");
          },
          success : function(response) {
            resps = JSON.parse(response);
            console.log("succeeded ajax");
            console.log(resps[0]);
            callback(resps);
          }
        });
      });
    }

    function handleMoreButton(responses){
      if (responses.length > 0){
        if ($('.more').children().length == 0){
          $('.more').append('<a class="ui-btn" href="#">もっと表示</a>')
            .click(function(){
              renderNextList(resps);
            });
        }
      } else {
        $('.more').remove();
      }
    }

    function renderNextList(resps){
      debugger;
      if (resps.length > 0){
        resps.forEach(resp => {
          $('.listView').append(
            '<li><a href="' + resp.id + '.html">'
            + '<div style="font-size: 1.2em;">' + resp.title + '</div>'
            + '<div style="font-size: 1.0em;">' + resp.content_summary + '</div>'
            + '<div style="font-size: 0.8em;">' + resp.author + '</div>'
            + '</a></li>');
        });
        $('.listView').listview("refresh");
      }
      if (resps.length < 5){
        $('.more').remove();
      } else {
          skipcount += 5;
          executeAjax(url, skipcount, handleMoreButton);
      }
    }
