extends layout
block content
  h1 ナレッジ保存
  - var escapeMap = {'&':'&amp;', '\'':'&#39;', '"':'&quot;', '<':'&lt;', '>':'&gt;'};
  p.ui-corner-all !{content.replace(/[&"'<>]/g,function(c){return escapeMap.hasOwnProperty(c)?escapeMap[c]:c}).replace(/\r?\n|\r/g,"<br>")}

  p
    a(href='/admin/menu.html') メニュー
  p
    a(href='/logout.html') ログアウト
  script.
    $(function() {$('a').button();});
