extends layout
block content
  h1 ナレッジを保存しました
  - var escapeMap = {'&':'&amp;', '\'':'&#39;', '"':'&quot;', '<':'&lt;', '>':'&gt;'};
  p.ui-corner-all id= #{content}
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') ログアウト
