extends layout

block content
  h1 #{resource.saveUser}
  p #{resource.saveUserMessage}
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') #{resource.adminMenu}
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') #{resource.logout}
