extends layout

block content
  h1 パスワードを保存
  p パスワードを変更しました。
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html', data-ajax='false') ログアウト
