extends layout

block content
  p
  h1 #{resource.searchKnowledgeToEdit}
  p
  form(action='/admin/selectresult.html', method='post')
    include csrf
    fieldset(class='ui-grid-a')
      div(class='ui-block-a', style='width:60%')
        input(autofocus, id='searchinput', type='search', name='searchstring', size='30', maxlength='255', style='height: 44px' )
      div(class='ui-block-b', style='width:40%')
        input.ui-btn(type='submit', value=`${resource.search}`, data-inline='true', data-icon='search')
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') #{resource.adminMenu}
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') #{resource.logout}
  script.
    $(document).bind('pageshow', function() {
      $('#searchinput').focus();
    });
