extends layout

block content
  p
  p 編集対象ナレッジの検索
  p
  form(action='/admin/selectresult.html', method='post')
    include csrf
    input(type='search' name='searchstring' size='30' maxlength='255' autofocus='' )
    input.ui-btn.ui-btn-inline(type='submit', value='検索', data-ajax="false" )
  p
    a.ui-btn.ui-btn-inline(href='/admin/menu.html') 管理メニュー
  p
    a.ui-btn.ui-btn-inline(href='/logout.html') ログアウト
